  ion-app{
    margin-top: 5vh;
  }

  ion-row{
    display: flex;
    justify-content: center;
  }

  ion-card{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  ion-item{
    margin: 0;
    padding: 0;
  }

  ion-card-content{
    padding: 0;
    margin: 0;
  }

  ion-content{
    margin: 0;
    padding: 0;
  }