<ion-app class="ion-no-margin ion-no-padding" scrollY="true">
  <ion-content class="ion-no-margin ion-no-padding">
    <ion-grid [ngClass]="{ 'fade-in': flagClearCart }" class="ion-no-margin ion-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="6" class="ion-no-margin ion-no-padding">
          <h1 class="ion-text-start">{{textCart.mainText}}</h1>
          <h3 class="ion-text-start">{{textCart.subtitleText}}</h3>
          <ion-card class="ion-no-margin ion-no-padding">
            <ion-card-content class="ion-no-margin ion-no-padding">
              <ion-list class="ion-no-margin ion-no-padding">
                <ion-item class="ion-margin-sm-0 ion-padding-sm-0" *ngFor="let item of listProducts">
                  <ion-thumbnail slot="start">
                    <img alt="ALFA3's Product" style="border-radius: 10px" src="{{ item.img_url }}" />
                  </ion-thumbnail>
                  <ion-badge slot="start" color="warning">{{
                    item.count
                    }}</ion-badge>
                  <div class="ion-no-margin">
                    <h2>{{ item.item_name }}</h2>
                    <p>$ {{ setDotOnPrice(item.price) }} COP</p>
                  </div>
                  <ion-button slot="end" (click)="onUpdateItem(item.item_id, true)" color="success" shape="round"
                    fill="clear"><ion-icon id="add" slot="icon-only" ios="add-circle-outline"
                      md="add-circle-outline"></ion-icon></ion-button>
                  <ion-button slot="end" (click)="onUpdateItem(item.item_id, false)" color="danger" shape="round"
                    fill="clear"><ion-icon slot="icon-only" ios="remove-circle-outline"
                      md="remove-circle-outline"></ion-icon></ion-button>
                  <ion-button slot="end" (click)="alertDeleteItem(item.item_id)" color="warning" shape="round"
                    fill="clear"><ion-icon slot="icon-only" ios="close-circle-outline"
                      md="close-circle-outline"></ion-icon></ion-button>
                </ion-item>
                <ion-item class="ion-margin-sm-0 ion-padding-sm-0" *ngIf="listProducts.length === 0">
                  <ion-icon name="cart"></ion-icon>
                  <ion-label class="ion-text-center">{{textCart.emptyCartText}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <div *ngIf="listProducts.length !== 0" class="ion-checkout">
            <div class="ion-total-price">
              <div style="display: flex;">
                <div class="ion-checkout-items">
                  <h5 class="ion-text-end ion-no-padding ion-no-margin">
                    SUB-TOTAL
                  </h5>
                  <h6 class="ion-text-end ion-no-padding ion-no-margin">
                    {{ itemsCount }} ITEM<span *ngIf="itemsCount > 1">S</span>
                  </h6>
                </div>
                <div style="margin-left: 10px">
                  <h2 style="margin-top: 5px;" class="ion-text-end ion-no-margin ion-no-padding">$ {{ setDotOnPrice(totalPrice) }}</h2>
                </div>
              </div>
              <div style="margin-top: 20px; display: flex; justify-content: end;">
                <ion-button (click)="onCheckOutCart()" color="warning"
                class="ion-button ion-text-end ion-no-margin ion-no-padding" expand="block"
                fill="outline">{{textCart.buttonCart}}</ion-button>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="flagCustomerDetails" class="ion-no-margin ion-padding">
      <form [formGroup]="formCheckOut">
        <!-- CUSTOMER DETAIL -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <h2 class="ion-text-start">{{textCart.mainTextCustomerDetails}}</h2>
            <h3 class="ion-text-start">{{textCart.subtextCustomerDetails}}</h3>
            <ion-checkbox labelPlacement="end" (ionChange)="onUseSameInfoChanged($event)" formControlName="useSameInfo">
              {{textCart.checkboxCustomerDetails}}
            </ion-checkbox>
            <ion-card>
              <ion-card-content class="ion-no-margin ion-no-padding">
                <ion-list>
                  <ion-item>
                    <ion-select label="{{textCart.documentTypeLabel}}" label-placement="floating" formControlName="documentTypeCustomer"
                      required>
                      <ion-select-option *ngFor="let method of textCart.formDocumentType | keyvalue" [value]="method.key">
                        {{ method.value }}
                        </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.documentNumberCustomer}}" label-placement="floating" type="number" inputmode="numeric"
                      pattern="[0-9]*" formControlName="documentNumberCustomer" [required]="!flagShippingDetails" minlength="6" maxlength="10"
                      (ionInput)="validateNumberForm($event)"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.fullNameCustomer}}" label-placement="floating" class="ion-no-margin ion-no-padding"
                      type="text" formControlName="fullNameCustomer" [required]="!flagShippingDetails" minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.phoneNumberCustomer}}" label-placement="floating" type="tel" inputmode="numeric"
                      pattern="[0-9]*" formControlName="phoneNumberCustomer" [required]="!flagShippingDetails" minlength="7" maxlength="10"
                      (ionInput)="validateNumberForm($event)"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.emailCustomer}}" label-placement="floating" class="ion-no-margin ion-no-padding"
                      type="email" formControlName="emailCustomer" [required]="!flagShippingDetails" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                      minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.streetAddressCustomer}}" label-placement="floating" type="text"
                      formControlName="streetAddressCustomer" [required]="!flagShippingDetails" minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.cityCustomer}}" label-placement="floating" type="text" formControlName="cityCustomer"
                      required minlength="3"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- SHIPPING DETAIL -->
        <ion-row *ngIf="!flagShippingDetails" class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <h3 class="ion-text-start">{{textCart.mainTextShipping}}</h3>
            <ion-card>
              <ion-card-content class="ion-no-margin ion-no-padding">
                <ion-list>
                  <ion-item>
                    <ion-input label="{{textCart.fullNameShipping}}" label-placement="floating" type="text"
                      formControlName="fullNameShipping" minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.phoneNumberShipping}}" label-placement="floating" type="tel" inputmode="numeric"
                      pattern="[0-9]*" formControlName="phoneNumberShipping" minlength="7" maxlength="10"
                      (ionInput)="validateNumberForm($event)"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.streetAddressShipping}}" label-placement="floating" type="text"
                      formControlName="streetAddressShipping" minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="{{textCart.cityShipping}}" required label-placement="floating" type="text" formControlName="cityShipping"
                      minlength="3"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- PAYMENT DETAIL -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <h3 class="ion-text-start">{{textCart.mainTextPayment}}</h3>
            <ion-card>
              <ion-card-content class="ion-no-margin ion-no-padding">
                <ion-list>
                  <ion-item>
                    <ion-select label="{{textCart.paymethodLabel}}" label-placement="floating"
                      formControlName="paymentMethodCustomer" required>
                        <ion-select-option *ngFor="let method of textCart.formSelectPaymethod | keyvalue" [value]="method.key">
                        {{ method.value }}
                        </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </form>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" size-md="6" class="ion-no-padding ion-margin-top ion-margin-bottom">
          <ion-button (click)="alertCheckoutCart()" color="warning"
            class="ion-text-center ion-no-margin ion-no-padding" expand="block" fill="solid"
            [disabled]="formCheckOut.invalid">
            {{textCart.buttonOrder}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>