<ion-app class="ion-no-margin ion-no-padding" scrollY="true">
  <ion-content class="ion-no-margin ion-no-padding">
    <ion-grid [ngClass]="{ 'fade-in': flagClearCart }" class="ion-no-margin ion-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="6" class="ion-no-margin ion-no-padding">
          <h1 class="ion-text-start">YOUR CART</h1>
          <h3 class="ion-text-start">ITEMS</h3>
          <ion-card>
            <ion-card-content class="ion-no-margin ion-no-padding">
              <ion-list>
                <ion-item *ngFor="let item of listProducts">
                  <ion-thumbnail slot="start">
                    <img alt="ALFA3's Product" style="border-radius: 10px" src="{{ item.img_url }}" />
                  </ion-thumbnail>
                  <ion-badge slot="start" color="warning">{{
                    item.count
                    }}</ion-badge>
                  <div class="ion-no-margin">
                    <h2>{{ item.item_name }}</h2>
                    <p>$ {{ setDotOnPrice(item.price) }} COP</p>
                  </div>
                  <ion-button slot="end" (click)="onUpdateItem(item.item_id, true)" color="success" shape="round"
                    fill="clear"><ion-icon id="add" slot="icon-only" ios="add-circle-outline"
                      md="add-circle-outline"></ion-icon></ion-button>
                  <ion-button slot="end" (click)="onUpdateItem(item.item_id, false)" color="danger" shape="round"
                    fill="clear"><ion-icon slot="icon-only" ios="remove-circle-outline"
                      md="remove-circle-outline"></ion-icon></ion-button>
                  <ion-button slot="end" (click)="alertDeleteItem(item.item_id)" color="warning" shape="round"
                    fill="clear"><ion-icon slot="icon-only" ios="close-circle-outline"
                      md="close-circle-outline"></ion-icon></ion-button>
                </ion-item>
                <ion-item *ngIf="listProducts.length === 0">
                  <ion-icon name="cart"></ion-icon>
                  <ion-label class="ion-text-center">NO ITEMS IN CART</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <div *ngIf="listProducts.length !== 0" class="ion-checkout">
            <div class="ion-checkout-items">
              <h5 class="ion-text-end ion-no-padding ion-no-margin">
                SUB-TOTAL
              </h5>
              <h6 class="ion-text-end ion-no-padding ion-no-margin">
                {{ itemsCount }} item<span *ngIf="itemsCount > 1">s</span>
              </h6>
            </div>
            <div class="ion-total-price">
              <h2 class="ion-text-end">$ {{ setDotOnPrice(totalPrice) }}</h2>
              <ion-button (click)="onCheckOutCart()" color="warning"
                class="ion-button ion-text-end ion-no-margin ion-no-padding" expand="block"
                fill="outline">CHECKOUT</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="flagCustomerDetails" class="ion-no-margin ion-padding">
      <form [formGroup]="formCheckOut">
        <!-- CUSTOMER DETAIL -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <h1 class="ion-text-start">CUSTOMER DETAIL</h1>
            <h3 class="ion-text-start">CUSTOMER INFO</h3>
            <ion-card>
              <ion-card-content class="ion-no-margin ion-no-padding">
                <ion-list>
                  <ion-item>
                    <ion-select label="DOCUMENT TYPE" label-placement="floating" formControlName="documentTypeCustomer"
                      required>
                      <ion-select-option value="CC">NATIONAL DOCUMENT</ion-select-option>
                      <ion-select-option value="NIT">NIT</ion-select-option>
                      <ion-select-option value="PASSPORT">PASSPORT</ion-select-option>
                      <ion-select-option value="FOREIGN_DOCUMENT">FOREIGN DOCUMENT</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-input label="DOCUMENT NUMBER" label-placement="floating" type="number" inputmode="numeric"
                      pattern="[0-9]*" formControlName="documentNumberCustomer" required minlength="6" maxlength="10"
                      (ionInput)="validateNumberForm($event)"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="FULL NAME" label-placement="floating" class="ion-no-margin ion-no-padding"
                      type="text" formControlName="fullNameCustomer" required minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="BUSINNESS NAME | STREET ADDRESS" label-placement="floating" type="text"
                      formControlName="streetAddressCustomer" required minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="CITY" label-placement="floating" type="text" formControlName="cityCustomer"
                      required minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="PHONE NUMBER" label-placement="floating" type="tel" inputmode="numeric"
                      pattern="[0-9]*" formControlName="phoneNumberCustomer" required minlength="7" maxlength="10"
                      (ionInput)="validateNumberForm($event)"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- PAYMENT DETAIL -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <h3 class="ion-text-start">PAYMENT DETAIL</h3>
            <ion-card>
              <ion-card-content class="ion-no-margin ion-no-padding">
                <ion-list>
                  <ion-item>
                    <ion-select label="PAYMENT METHOD" label-placement="floating"
                      formControlName="paymentMethodCustomer" required>
                      <ion-select-option value="CASH">CASH</ion-select-option>
                      <ion-select-option value="ACCOUNT">ACCOUNT TRANSFER</ion-select-option>
                      <ion-select-option value="CARD">CARD</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- SHIPPING DETAIL -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <h3 class="ion-text-start">SHIPPING ADDRESS</h3>
            <ion-card>
              <ion-card-content class="ion-no-margin ion-no-padding">
                <ion-list>
                  <ion-item>
                    <ion-input label="FULL NAME" label-placement="floating" type="text"
                      formControlName="fullNameShipping" minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="PHONE NUMBER" label-placement="floating" type="tel" inputmode="numeric"
                      pattern="[0-9]*" formControlName="phoneNumberShipping" minlength="7" maxlength="10"
                      (ionInput)="validateNumberForm($event)"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="BUSINNESS NAME | STREET ADDRESS" label-placement="floating" type="text"
                      formControlName="streetAddressShipping" minlength="3"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="CITY" label-placement="floating" type="text" formControlName="cityShipping"
                      minlength="3"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </form>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" size-md="6" class="ion-no-padding ion-margin-top ion-margin-bottom">
          <ion-button (click)="alertCheckoutCart()" color="warning"
            class="ion-button ion-text-center ion-no-margin ion-no-padding" expand="block" fill="outline"
            [disabled]="formCheckOut.invalid">
            ORDER NOW
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>