<ion-app class="ion-no-margin ion-no-padding" scrollY="false">
  <ion-content class="ion-no-margin ion-no-padding">
    <ion-grid class="ion-no-margin ion-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="6" *ngIf="flagIsLogged" class="ion-no-margin ion-no-padding">
          <h1 class="ion-text-start">ACCOUNT</h1>
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>{{ responseLogin.username }}</ion-card-title>
              <ion-card-subtitle>{{ responseLogin.role }}</ion-card-subtitle>
            </ion-card-header>
            <div style="display: flex; justify-content: center;">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="assets/icons/wd-logo.png" />
              </ion-avatar>
            </div>
            <ion-card-content>
              <ion-button expand="full" (click)="onLogout()">LOG OUT</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" *ngIf="!flagIsLogged" class="ion-no-margin ion-no-padding">
          <h1 class="ion-text-start">ACCOUNT</h1>
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>ALFA3 ELECTRICS</ion-card-title>
              <ion-card-subtitle>HEY! WELCOME TO OUR SHOP</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <form [formGroup]="loginForm">
                <ion-item>
                  <ion-input label="USERNAME" label-placement="floating" type="text" formControlName="usernameCustomer" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="PASSWORD" label-placement="floating" type="password" formControlName="passwordCustomer" required></ion-input>
                </ion-item>
                <ion-button *ngIf="!flagRegister" (click)="onSubmitLogin()" [disabled]="loginForm.invalid" expand="full">LOG IN</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
