ion-app {
  height: 100%; 
  padding-top: 4dvh;
  @media (max-height: 600px) {
    padding-top: 10dvh;
  }
  background-color: #000;
  --background: #000;
}

ion-content {
  --background: #000;
  background-color: #000;
}

ion-button {
  color: black;
}

ion-card {
  --background: #000;
  --color: #ffce30;
  width: 90%;
  height: 100%;
}

ion-card-title {
  --color: #ffce30;
}

ion-card-subtitle {
  --color: #fff;
}

.card-content-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}