<div id="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" routerLink="/home">Iniciar Sesión</ion-button>

      <ion-item lines="none">
        <ion-label class="ion-text-center">
          ¿No tienes una cuenta? <a routerLink="/register">Regístrate</a>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>