<ion-app class="ion-no-margin ion-no-padding" scrollY="false">
  <ion-content class="ion-no-margin ion-no-padding">
    <ion-grid class="ion-no-margin ion-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col [ngClass]="{'fade-in': flagIsLogged && flagFade}" size="12" size-md="6" *ngIf="flagIsLogged"
          class="ion-no-margin ion-no-padding">
          <h1 class="ion-text-start">{{textAccount.loginUser.mainText}}</h1>
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>{{ responseLogin.customer_details.fullNameCustomer || responseLogin.username }}</ion-card-title>
              <ion-card-subtitle>HELLO {{ responseLogin.role || 'USER' }}!</ion-card-subtitle>
            </ion-card-header>
            <div style="display: flex; justify-content: center;">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="assets/icons/wd-logo.png" />
              </ion-avatar>
            </div>
            <ion-card-content class="ion-no-padding ion-no-margin ion-margin-top" >
              <div class="card-content-login">
                <ion-card class="ion-no-margin ion-no-padding" style="border: 1px solid #ffce30;" (click)="onNavigateToOrders()">
                  <ion-card-header>
                    <ion-card-title class="ion-text-center"><ion-icon name="reorder-four-outline" size="large"></ion-icon></ion-card-title>
                    <ion-card-subtitle class="ion-text-center">YOUR ORDERS</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
                <ion-card class="ion-no-margin ion-no-padding" style="border: 1px solid #ffce30;">
                  <ion-card-header>
                    <ion-card-title class="ion-text-center"><ion-icon name="person-circle-outline" size="large"></ion-icon></ion-card-title>
                    <ion-card-subtitle class="ion-text-center ion-text-nowrap">YOUR INFO</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </div>
              <div *ngIf="responseLogin.role === 'ADMIN'" class="card-content-login ion-margin-top">
                <ion-card class="ion-no-margin ion-no-padding" style="border: 1px solid #ffce30;" (click)="onNavigateToOrdersWholesale()">
                  <ion-card-header>
                    <ion-card-title class="ion-text-center"><ion-icon name="logo-mastodon" size="large"></ion-icon></ion-card-title>
                    <ion-card-subtitle class="ion-text-center">MELI ORDERS</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
                <ion-card class="ion-no-margin ion-no-padding" style="border: 1px solid #ffce30;">
                  <ion-card-header>
                    <ion-card-title class="ion-text-center"><ion-icon name="man" size="large"></ion-icon></ion-card-title>
                    <ion-card-subtitle class="ion-text-center ion-text-nowrap">ADMIN PANEL</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </div>
              <ion-button class="ion-margin-top" expand="full" color="warning" (click)="onLogout()">LOGOUT</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col [ngClass]="{'fade-in': !flagIsLogged && flagFade}" size="12" size-md="6" *ngIf="!flagIsLogged"
          class="ion-no-margin ion-no-padding">
          <h1 class="ion-text-start">{{textAccount.notLoginUser.mainText}}</h1>
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>{{textAccount.notLoginUser.titleCard}}</ion-card-title>
              <ion-card-subtitle>{{textAccount.notLoginUser.subtitleCard}}</ion-card-subtitle>
            </ion-card-header>
            <div style="display: flex; justify-content: center;">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="assets/icons/wd-logo.png" />
              </ion-avatar>
            </div>
            <ion-card-content class="ion-no-margin">
              <form [formGroup]="loginForm">
                <ion-item class="ion-hide-md-down ion-no-margin">
                  <ion-input label="{{textAccount.notLoginUser.usernameLabel}}" label-placement="floating" type="tel" inputmode="numeric"
                  pattern="[0-9]*" formControlName="usernameCustomer" minlength="7" maxlength="10" required autocomplete="off" autocorrect="off" spellcheck="false"
                  (ionInput)="validateNumberForm($event)"></ion-input>
                </ion-item>
                <ion-item class="ion-hide-md-down ion-no-margin">
                  <ion-input label="{{textAccount.notLoginUser.passwordLabel}}" label-placement="floating"
                    type="password" formControlName="passwordCustomer" minlength="7" required autocomplete="new-password"
                    autocorrect="off" spellcheck="false">
                  </ion-input>
                </ion-item>
                <ion-item class="ion-hide-md-up ion-no-padding ion-no-margin">
                  <ion-input label="{{textAccount.notLoginUser.usernameLabel}}" label-placement="floating" type="tel" inputmode="numeric"
                  pattern="[0-9]*" formControlName="usernameCustomer" minlength="7" maxlength="10" required autocomplete="off" autocorrect="off" spellcheck="false"
                  (ionInput)="validateNumberForm($event)"></ion-input>
                </ion-item>
                <ion-item class="ion-hide-md-up ion-no-padding ion-no-margin">
                  <ion-input label="{{textAccount.notLoginUser.passwordLabel}}" label-placement="floating"
                    type="password" formControlName="passwordCustomer" minlength="7" required autocomplete="new-password"
                    autocorrect="off" spellcheck="false">
                  </ion-input>
                </ion-item>
                <ion-checkbox color="warning" class="ion-margin-top ion-no-padding ion-no-margin" labelPlacement="end" (ionChange)="onKeepMeLoggedInChanged($event)">
                  KEEP ME LOGGED IN
                </ion-checkbox>
                <ion-button class="ion-margin-top" color="warning" (click)="onSubmitLogin()" [disabled]="loginForm.invalid"
                  expand="full">{{ !flagRegister ? textAccount.notLoginUser.buttonCard : textAccount.notLoginUser.buttonCard2}}</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>