  ion-app{
    height: 90vh;
    padding: 5vh 0;
  }

  ion-content{
    --background: #000;
  }

  ion-button {
    margin-top: 15px;
    --color: #000;
    --background: #efb74c;
  }

  ion-card{
    --background: #000;
    --color: #efb74c;
    width: 90%;
    height: 100%;
  }
  
  ion-card-title {
    --color: #efb74c;
  }
  
  ion-card-subtitle {
    --color: #fff;
  }

  ion-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }