  .login-card{
    --background: #000;
    --color: #efb74c;
    width: 80%;
    height: 80%;
  }

  .info-card{
    --background: #000;
    --color: #efb74c;
    width: 80%;
    height: 80%;
  }

  ion-button {
    margin-top: 15px;
    --color: #000;
    --background: #efb74c;
  }
  
  ion-card-title {
    --color: #efb74c;
  }
  
  ion-card-subtitle {
    --color: #fff;
  }


  ion-app{
    margin-top: 5vh;
  }

  ion-grid{
    width: 100vw;
  }

  ion-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-content{
    margin: 0;
    padding: 0;
  }