<ion-header class="ion-no-border">
  <ion-button fill="clear" color="warning" disabled style="opacity: 0;">
    <ion-icon slot="icon-only" color="warning" size="large" name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button fill="clear" color="warning" routerLink="/home" class="ion-no-margin ion-no-padding">
    <ion-img src="assets/icons/logo.png" alt="ALFA3 ELECTRICS-LOGO"></ion-img>
  </ion-button>
  <ion-button fill="clear" color="warning" disabled style="opacity: 0;">
    <ion-icon slot="icon-only" color="warning" size="large" name="help-outline"></ion-icon>
  </ion-button>
</ion-header>