ion-app{
  height: 100%; 
  padding-top: 4vh;
  @media (max-height: 600px) {
    padding-top: 10vh;
  }
  background-color: #000;
  --background: #000;
}

ion-toolbar{
  height: auto;
  background-color: #000;
  --background: #000;
}

ion-tabs{
  --background: #000;
  background-color: #000;
  height: auto;
}

ion-tab-bar {
  --ion-tab-bar-background: #000;
  --ion-tab-bar-color-selected: #efb74c;
  --ion-tab-bar-color: #cdcdcd;
  border-top: 1px solid #efb74c;
  height: 5vh;
  @media (max-height: 600px) {
    height: 10vh;
  }
}

ion-header{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #efb74c;
  padding-top: env(safe-area-inset-bottom);
  height: 5vh;
  @media (max-height: 600px) {
    height: 10vh;
  }
}

ion-img {
  width: 90px;
  height: 90px;
  margin: 0 10px;
}

ion-content{
  height: 100%;
  --background: #000;
  background-color: #000;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }