<ion-content class="ion-no-margin ion-no-padding ion-content-ios" scrollY="false" [ngClass]="{'fade-in': !isLoading}">
  <ion-header *ngIf="!isLoading" class="ion-no-border">
    <ion-button fill="clear" routerLink="/home" class="ion-no-margin ion-no-padding">
      <ion-img src="assets/icons/logo.png" alt="ALFA3 ELECTRICS-LOGO">
      </ion-img>
    </ion-button>
  </ion-header>
  <ion-tabs [ngClass]="{'fade-in': !isLoading}" (ionTabsDidChange)="onTabChange($event)">
    <ion-tab tab="Loading">
      <div id="Loading">
        <app-loading></app-loading>
      </div>
    </ion-tab>
    <ion-tab tab="Order">
      <div id="Order">
        <app-order-order [dataOrder]="dataOrder" [dataCart]="dataCart" [orderStatus]="orderStatus"></app-order-order>
      </div>
    </ion-tab>
    <ion-footer>
      <ion-tab-bar *ngIf="!isLoading" slot="bottom">
        <ion-tab-button tab="Order" selected="true">
          <ion-icon name="reorder-four-outline"></ion-icon>
          {{textOrderTab.tabOrder}}
        </ion-tab-button>
      </ion-tab-bar>
    </ion-footer>
  </ion-tabs>
</ion-content>