<ion-content class="ion-no-margin ion-no-padding" scrollY="false" [ngClass]="{'fade-in': !isLoading}">
  <ion-header *ngIf="!isLoading" class="ion-no-border">
      <ion-img
      src="assets/icons/logo.png"
      alt="ALFA3 ELECTRICS-LOGO">
      </ion-img>
  </ion-header>
  <ion-tabs [ngClass]="{'fade-in': !isLoading}" (ionTabsDidChange)="onTabChange($event)"> 
    <ion-tab tab="Loading">
      <div id="Loading">
        <app-loading></app-loading>
      </div>
    </ion-tab>
    <ion-tab tab="Order">
      <div id="Order">
        <ion-app>
          <ion-content class="ion-no-margin ion-no-padding" scrollY="false">
            <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="12" size-md="6" class="ion-padding" *ngIf="dataOrder && dataCart">
                  <h1 class="ion-text-start">YOUR ORDER</h1>
                  <ion-item>
                    <ion-label class="ion-text-start">ORDER # {{ dataOrder.order_id }}</ion-label>
                    <ion-badge color="success">{{ dataOrder?.status }}</ion-badge>
                  </ion-item>
                  <ion-card>
                    <ion-card-content class="ion-no-margin ion-no-padding">
                      <ion-list>
                        <ion-item *ngFor="let item of dataCart">
                          <ion-thumbnail slot="start">
                            <img
                              alt="ALFA3's Product"
                              style="border-radius: 10px"
                              src="{{ item.img_url }}"
                            />
                          </ion-thumbnail>
                          <ion-badge slot="start" color="warning">{{item.count}}</ion-badge>
                          <div class="ion-no-margin">
                            <h3>{{ item.item_name }}</h3>
                            <p>$ {{ setDotOnPrice(item.price) }} COP</p>
                          </div>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                  <div class="ion-checkout">
                    <div class="ion-checkout-items">
                      <h5 class="ion-text-end ion-no-padding ion-no-margin">
                        TOTAL
                      </h5>
                    </div>
                    <div class="ion-total-price">
                      <h2 class="ion-text-end">$ {{ setDotOnPrice(dataOrder?.total_price) }} COP</h2>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ion-app>
      </div>
    </ion-tab>
    <ion-footer>
      <ion-tab-bar *ngIf="!isLoading" slot="bottom"> 
        <ion-tab-button tab="Order" selected="true">
          <ion-icon name="reorder-four-outline"></ion-icon>
            ORDER
        </ion-tab-button>
      </ion-tab-bar>
    </ion-footer>
  </ion-tabs>
</ion-content>