ion-footer{
    margin-bottom: 0;
  }
  
  ion-header{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #efb74c;
    height: 5vh;
  }
  
  ion-img {
    width: 90px;
    height: 90px;
    margin: 0 10px;
  }