<ion-app>
  <ion-content scrollY="false" class="ion-no-margin ion-no-padding">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-no-margin ion-no-padding ion-justify-content-center ion-align-items-center" size="10">
        <ion-col class="ion-no-margin ion-no-padding" size="12">
          <ion-img class="fade-in" src="assets/logo.png" alt="ALFA3 ELECTRICS - LOGO" style="height: 8vh;"></ion-img>
          <div class="ion-justify-content-center ion-align-items-center ion-text-center">
            <ion-spinner color="warning" name="crescent"></ion-spinner>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>