<ion-app class="ion-no-margin ion-no-padding" scrollY="false">
  <ion-content class="ion-no-margin ion-no-padding">
    <ion-grid class="ion-no-margin ion-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="10">
          <div>
            <h1 class="ion-text-center">COMMING SOON</h1>
            <h2 class="ion-text-center">Order</h2>
            <h3 class="ion-text-center">This page is under construction</h3>
            <h3 class="ion-text-center">Please check back later</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>