<ion-app class="ion-no-margin ion-no-padding" scrollY="false">
  <ion-content class="ion-no-margin ion-no-padding">
    <ion-grid class="ion-no-margin ion-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="6" class="ion-no-margin ion-no-padding">
          <h1 class="ion-text-start">ORDENES</h1>
          <h3 class="ion-text-start">VISUALIZA Y GESTIONA TUS ORDENES</h3>
          <ion-card class="ion-no-margin ion-no-padding">
            <ion-card-content class="ion-no-margin ion-no-padding">
              <ion-list class="ion-no-margin ion-no-padding">
                <ion-item class="ion-margin-sm-0 ion-padding-sm-0">
                  <ion-icon name="cart"></ion-icon>
                  <ion-label class="ion-text-center">NO TIENES ORDENES AÚN</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>