ion-app {
  height: 100%;
  padding-top: 4vh;
  @media (max-height: 600px) {
    padding-top: 10vh;
  }
  background-color: #000;
  --background: #000;
}

ion-content {
  --background: #000;
  background-color: #000;
}

ion-card {
  --background: #000;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #efb74c;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container ion-button {
  flex: 1;
  text-align: center;
}

.ion-button-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  padding: 0 20px;
}