<ion-app>
  <ion-content scrollY="true" class="ion-padding ion-hide-md-up ion-content-ios">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid class="ion-hide-md-up ion-grid-md-down">
      <h1 class="ion-text-start">PRODUCTS</h1>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col class="ion-padding" size="10" *ngFor="let product of products"> 
          <ng-container *ngTemplateOutlet="cardProd; context: { product: product }"></ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content scrollY="false" class="ion-padding ion-hide-md-down">
    <h1 class="ion-text-center">PRODUCTS</h1>
    <ion-segment class="ion-hide-md-down" [(ngModel)]="selectedSegment" color="warning">
      <ion-segment-button value="first" >
        <ion-label>MULTITOMAS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="second">
        <ion-label>REGULADORES</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment-view class="ion-hide-md-down">
      <ion-segment-content id="first" *ngIf="selectedSegment === 'first'">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-padding" size="6" size-lg="3" *ngFor="let product of powerStrip"> 
              <ng-container *ngTemplateOutlet="cardProd; context: { product: product }"></ng-container>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-segment-content>
      <ion-segment-content id="second" *ngIf="selectedSegment === 'second'">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-padding" size="6" size-lg="3" *ngFor="let product of voltageRegulator"> 
              <ng-container *ngTemplateOutlet="cardProd; context: { product: product }"></ng-container>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-segment-content>
    </ion-segment-view>
  </ion-content>
</ion-app>
<ng-template #cardProd let-product="product">
  <ion-card class="ion-no-margin ion-no-padding">
    <div style="background-color: white; text-align: center;">
    <img alt="prod-img" src="{{product.img_url}}"/>
    </div>
    <ion-card-header>
    <ion-card-title class="ion-text-center ion-text-wrap">{{ product.item_name }}</ion-card-title>
    <ion-card-subtitle class="ion-text-center">$ {{ setDotOnPrice(product.price) }} COP</ion-card-subtitle>
    <ion-card-subtitle class="ion-text-center ion-text-wrap ion-hide-xl-up">{{ product.item_description }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
    <ion-button color="warning" (click)="presentAlert(product.item_id)" fill="outline">MORE INFO</ion-button>
    <ion-button color="warning" (click)="onAddCart(product.item_id)" fill="outline">ADD CART</ion-button>
    </ion-card-content>
  </ion-card>
</ng-template>
