  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 0;
  }

  ion-thumbnail {
    --size: 100px;
    --border-radius: 14px;
  }

  ion-list {
    border-radius: 14px;
  }

  ion-item{
    gap: 10px;
  }

  ion-card {
    padding: 5px 0;
    --background: #000;
    --color: #efb74c;
    width: 80%;
  }

  @media (max-width: 576px) { 
    ion-card {
      width: 100vw;
    }

    ion-thumbnail {
      --size: 50px;
    }
  }