
  ion-app{
    margin-top: 5vh;
  }

  ion-card {
    --background: #000;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #efb74c;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
  }
