<ion-content [fullscreen]="true">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          HOME
        </ion-tab-button>
        <ion-tab-button tab="order">
          <ion-icon name="reorder-three"></ion-icon>
          ORDER
        </ion-tab-button>
        <ion-tab-button tab="cart">
          <ion-icon name="cart"></ion-icon>
          CART
        </ion-tab-button>
        <ion-tab-button tab="account">
          <ion-icon name="person"></ion-icon>
          ACCOUNT
        </ion-tab-button>
      </ion-tab-bar>
      <ion-router-outlet></ion-router-outlet>
    </ion-tabs>
</ion-content>