<ion-content class="ion-no-margin ion-no-padding ion-content-ios" scrollY="false" [ngClass]="{'fade-in': !isLoading}">
  <app-header *ngIf="!isLoading"></app-header>
  <ion-tabs class="ion-no-margin ion-no-padding" [ngClass]="{'fade-in': !isLoading}" (ionTabsDidChange)="onTabChange($event)"> 
    <ion-tab tab="Loading">
      <div id="Loading">
        <app-loading></app-loading>
      </div>
    </ion-tab>
    <ion-tab tab="Home" selected="true">
      <div id="Home" >
        <app-home-home [tabChanged]="tabHome"></app-home-home>
      </div>
    </ion-tab>
    <ion-tab tab="Account">
      <div id="Account">
        <app-account (navigateTab)="navigateTab($event)" [tabChanged]="tabAccount"></app-account>
      </div>
    </ion-tab>
    <ion-tab tab="Cart">
      <div id="Cart">
        <app-cart [tabChanged]="tabCart"></app-cart>
      </div>
    </ion-tab>
    <ion-tab tab="Order">
      <div id="Order">
        <app-order-home [tabChanged]="tabOrder"></app-order-home>
      </div>
    </ion-tab>
    <ion-footer>
      <ion-tab-bar *ngIf="!isLoading" slot="bottom"> 
        <ion-tab-button tab="Home" selected="true">
        <ion-icon name="home"></ion-icon>
        {{textHomeTab.tabHome}}
        </ion-tab-button>
        <ion-tab-button tab="Cart">
        <ion-icon name="cart"></ion-icon>
        {{textHomeTab.tabCart}}
        </ion-tab-button>
        <ion-tab-button tab="Account">
        <ion-icon name="person"></ion-icon>
        {{textHomeTab.tabAccount}}
        </ion-tab-button>
        </ion-tab-bar>
    </ion-footer>
  </ion-tabs>
</ion-content>