ion-tab-bar {
  --ion-tab-bar-background: #000;
  --ion-tab-bar-color-selected: #efb74c;
  --ion-tab-bar-color: #cdcdcd;
  border-top: 1px solid #efb74c;
  height: 5dvh;
  @media (max-height: 600px) {
    height: 10dvh;
  }
}

ion-toolbar{
  height: auto;
  background-color: #000;
  --background: #000;
}

ion-tabs{
  --background: #000;
  background-color: #000;
  height: auto;
}

ion-tab{
  height: auto;
  --background: #000;
  background-color: #000;
}

ion-header{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #efb74c;
  height: 5dvh;
  @media (max-height: 600px) {
    height: 10dvh;
  }
}

ion-img {
  height: 4vh;
}

ion-content{
  --background: #000;
  background-color: #000;
  height: 100%;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ion-modal#customModalIMG {
  --width: auto;
  --min-width: 250px;
  --height: 70dvh;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#customModalIMG h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#customModalIMG .wrapper {
  margin-bottom: 10px;
}