<ion-content class="ion-no-margin ion-no-padding ion-content-ios" scrollY="false" [ngClass]="{'fade-in': !isLoading}">
  <ion-header *ngIf="!isLoading" class="ion-no-border ion-padding-md">
      <ion-img
        src="assets/icons/logo.png"
        alt="ALFA3 ELECTRICS-LOGO">
      </ion-img>
  </ion-header>
  <ion-tabs [ngClass]="{'fade-in': !isLoading}" (ionTabsDidChange)="onTabChange($event)"> 
    <ion-tab tab="Loading">
      <div id="Loading">
        <app-loading></app-loading>
      </div>
    </ion-tab>
    <ion-tab tab="Home" selected="true">
      <div id="Home" >
        <app-home-home [tabChanged]="tabHome"></app-home-home>
      </div>
    </ion-tab>
    <ion-tab tab="Account">
      <div id="Account">
        <app-account [tabChanged]="tabAccount"></app-account>
      </div>
    </ion-tab>
    <ion-tab tab="Cart">
      <div id="Cart">
        <app-cart [tabChanged]="tabCart"></app-cart>
      </div>
    </ion-tab>
    <ion-footer class="ion-padding-md">
      <ion-tab-bar *ngIf="!isLoading" slot="bottom"> 
        <ion-tab-button tab="Home" selected="true">
        <ion-icon name="home"></ion-icon>
        HOME
        </ion-tab-button>
        <ion-tab-button tab="Cart">
        <ion-icon name="cart"></ion-icon>
        CART
        </ion-tab-button>
        <ion-tab-button tab="Account">
        <ion-icon name="person"></ion-icon>
        ACCOUNT
        </ion-tab-button>
        </ion-tab-bar>
    </ion-footer>
  </ion-tabs>
</ion-content>